.group-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #e0e0e0;
}
.group-header .group-navigation {
    display: flex;
    gap: 20px;
}
.header-logo svg {
  width: 150px;
  height: auto;
}