<div class="login-container">
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <h2>Đăng nhập</h2>
  
      <div>
        <label>Email</label>
        <input
          type="text"
          name="username"
          [(ngModel)]="username"
          required
        />
      </div>
  
      <div>
        <label>Mật khẩu</label>
        <input
          type="password"
          name="password"
          [(ngModel)]="password"
          required
          minlength="6"
        />
      </div>
  
      <button type="submit">Đăng nhập</button>
    </form>
  </div>